.app {
    padding          : 2em;
    background-color : beige;
    display          : flex;
    flex-direction   : column;
    justify-content  : center;
    align-items      : center;
}

.app-title {
    font-size     : 4.5rem;
    margin-top    : 0;
    margin-bottom : 1rem;
    color         : teal;
    font-family   : 'Bigelow Rules', cursive;
}
